.sail-regular {
    font-family: "Sail", system-ui;
    font-weight: 400;
    font-style: normal;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*Identificamos la paleta de colores*/
:root {
    --color-primario: rgb(137, 2, 62);
    --color-secundario: rgb(234, 99, 140);
    --color-terciario: rgb(255, 217, 218);
    --color-cuaternario: rgb(48, 52, 63);
    --color-texto: rgb(27, 32, 33);
}

/*Animación para el scrolleo suave*/
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-terciario);
}

/*Propuesta de tamaño para los contenedores*/
.contenedor {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 24px;
    scroll-margin-top: 150px;
    /*Para evitar que el navbar se encime*/
    margin-top: 100px;
}





/********************/
/*SECCIÓN DEL NAVBAR*/
.adelita-header {
    position: fixed !important;
    /*Para que el menú se mueva con el desplazamiento*/
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    /*background: rgba(255, 255, 255, 0.05); color del cristal*/
    /* background: var(--color-primario);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/

    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0);


    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

    /*Efecto para la transición durante el scroll*/
    transition: background-color 0.4s ease, border-bottom 0.4s ease, padding 0.4s ease;
}

.adelita-header.cambio-fondo {
    position: fixed;
    background: var(--color-primario);
    /* Borde sutil */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    /*Hace el borde más delgado*/
    padding: 1rem 10%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 45px;
    max-height: 45px;
    width: auto;
}

.navbar a {
    font-size: 1.1rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--color-secundario);
}

.nav-acciones {
    display: flex;
    align-items: center;
    /* Espacio entre el carrito y el botón */
    gap: 1.5rem;
    /* Separación con los demás elementos */
    margin-left: 2.5rem;
}

.carrito-icono {
    font-size: 1.6rem;
    /* Lo hacemos un poco más grande para que resalte */
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
}

.carrito-icono:hover {
    color: var(--color-secundario);
    transform: scale(1.5);
}

#menu-icon {
    font-size: 2.5rem;
    color: #ffffff;
    cursor: pointer;
    display: none;

}

@media (max-width: 992px) {
    .adelita-header {
        padding: 1.25rem 4%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 4%;
        /*Para el efecto de cristal*/
        background: rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.05);

        display: none;
        flex-direction: column;
    }

    /* Clase que activa el JS para mostrar el menú */
    .navbar.active {
        /*display: block;*/
        display: flex;
    }

    .navbar a {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        margin: 1rem 0;
        margin-left: 0;
        text-align: center;
    }
}


/********************/
/*ESTILOS DEL FOOTER*/
.adelita-footer {
    background-color: var(--color-texto);
    color: var(--color-terciario);
    padding: 20px 0;
    margin-top: 50px;
    text-align: center;
}

.footer-logo-img {
    height: 45px;
    max-height: 45px;
    width: auto;
    object-fit: contain;
}

/* Espacio entre el texto y los iconos */
.footer-contenido p {
    margin-bottom: 10px;
}

/* Estilos para los iconos de Redes Sociales */
.footer-redes a {
    color: var(--color-terciario);
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
}

.footer-redes a:hover {
    color: var(--color-secundario);
}